[settings]
mqtt_client = HelloLiam
mqtt_host = 102.182.106.148
mqtt_port = 773
devices = 4
device1_name = "Geyser"
device1_topic = "helloliam/geyser/"
device1_pin = 27
device2_name = "Switch2"
device2_topic = "helloliam/switch2/"
device2_pin = 22
device3_name = "Switch3"
device3_topic = "helloliam/switch3/"
device3_pin = 23
device4_name = "Switch4"
device4_topic = "helloliam/switch4/"
device4_pin = 24
